<li id="comment-<%= comment._id%>">

    <div style="display: flex;">
        <p>
            <img src="<%= comment.user.avatar %>" alt="<%= comment.user.name %>" width="30">
        </p>
        <div class="comment-details">
            <h4 style="margin: 0;">
                <%= comment.user.name %>
            </h4>
            <p style="margin: 0;">
                <%= comment.content %>
            </p>
        </div>
        
        <% if(user && user.id == comment.user.id){ %>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%=comment._id%>">X</a>
            </small>
        <% } %>
    </div>
</li>