<li id="comment-<%= comment._id%>">

    <div style="display: flex;">
        <p>
            <% if(comment.user.avatar == undefined){ %>
                <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="codeial-default-logo" width="30">
            <% }else {%>
                <img src="<%= comment.user.avatar %>" alt="<%= comment.user.name %>" width="30">
            <% } %>
        </p>
        <div class="comment-details">
            <h4 style="margin: 5px 0px;">
                <%= comment.user.name %>
            </h4>
            <p style="margin: 0;">
                <%= comment.content %>
            </p>
        </div>
        
        <div >
            <% if(user && user.id == comment.user.id){ %>
                <small>
                    <a class="delete-comment-button" href="/comments/destroy/<%=comment._id%>">
                        <p>X</p>
                    </a>
                </small>
            <% } %>
        </div>
    </div>

    <div style="margin-left: 56px; font-size: 14px;">            
        <% if(user){ %>
            <a class="toggle-like-button cmt-clr" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                Like
            </a>
            <span class="comment-like" id="<%=comment._id%>">
                <% if(comment.likes.length != '0'){%>
                    <i class="fa-solid fa-thumbs-up color"></i> <%= comment.likes.length%>
                <% } %>
            </span>
        <% }else{%>
            <i class="fa-solid fa-thumbs-up color"></i> <%= comment.likes.length%> 
        <% } %>
    </div>
</li>