<li class="post-container" id="post-<%= post._id%>" style="margin: 10px 0px; padding: 0;">
    <div  style="padding: 5px 18px;">
        <div style="display: flex; justify-content: space-between;">
            <div class="dlt-btn-cntnr" style="display: flex; padding: 10px 0px;">
                <div style="display: flex;">
                    <div>
                        <% if(post.user.avatar == undefined){%>
                            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="codeial-default-logo" width="40">
                        <% }else{ %>
                            <img src="<%= post.user.avatar%>" alt="<%= post.user.name%>" width="40">
                        <% } %>
                    </div>
                    
                    <div>
                        <h4 style="margin: 4px  8px 0px;"><%= post.user.name%></h4>
                    
                        <% function timeAgo(date){ %>
                            <!-- getTime() returns the number of milliseconds since January 1, 1970 -->
                            <!-- new Date() will return today date&time -->
                            <% let ms = (new Date()).getTime() - (new Date(date)).getTime(); %>
                            <% let seconds = Math.floor(ms / 1000); %>
                            <% let minutes = Math.floor(seconds / 60); %>
                            <% let hours = Math.floor(minutes / 60); %>
                            <% let days = Math.floor(hours / 24); %>
                            <% let months = Math.floor(days / 30); %>
                            <% let years = Math.floor(months / 12); %>
                        
                            <% if (ms === 0) { %>
                                <% return 'Just now'; %> 
                            <% } if (seconds < 60) { %>
                                <% return seconds + 's'; %>
                            <% } if (minutes < 60) { %>
                                <% return minutes + 'm'; %>
                            <% } if (hours < 24) { %>
                                <% return hours + 'h'; %>
                            <% } if (days < 30) { %>
                                <% return days + 'd'; %>
                            <% } if (months < 12) { %>
                                <% return months + 'm'; %>
                            <% } else { %>
                                <% return years + 'y'; %>
                            <% } %>
                        <%} %> 

                        <small><%= timeAgo(post.createdAt) %> <span></span> <i class="fa-solid fa-globe"></i></small>
                    </div>
                    
                </div>
            </div>

            <!-- add menu -->
            <div class='add-menu'>
                <% if(user && user.id == post.user.id){ %>
                    <div class="menu" id="<%=post.id%>" style="display: none;">
                        <ul>
                            <li>
                                <% if(user && user.id == post.user.id){ %>
                                    <a class="delete-post-button" href="/posts/destroy/<%=post.id%>">Delete</a>
                                <% } %>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="menu-button" id="<%=post.id%>" data-toggles="false">
                        <i class="fa-solid fa-ellipsis-h"></i>
                    </div>
                <% } %>
            </div>
        </div>
        <p>
            <%= post.content%>
        </p>
    </div>
    
    <p style="width: 100%; margin: 0;">
        <% if (post.postAvatar){%>
            <img src="<%= post.postAvatar %>" alt="<%= post.name %>" width="100%">
        <%} %>
        
    </p>
    
    <div class="like-box">
        <% if(user){ %>
            <div class="like-comment-box" id="<%= post._id%>">
                <% if(post.likes.length != '0') {%>
                    <div class="user-like">
                        <p class="like">
                            <i class="fa-solid fa-thumbs-up color"></i> <span class="post-like"><%= post.likes.length%></span>
                        </p>

                        <!-- when user hover the like then show user whose like your post -->
                        <div class="show-like-user">
                            <ul>
                                <p style="margin: 5px 0;">Like</p>
                                <% for (like of post.likes){%>
                                    <li><%= like.user.name%></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                <% } %>
            </div>
            

            <div class="border-lk-cmt">
                <a class="toggle-like-button" data-likes="<%= post.likes.length%>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                    <p>
                        <i class="fa-solid fa-thumbs-up"></i>
                    </p>
                    <p style="margin-left: 0;">
                        Like
                    </p>
                </a>


                <p class="comment-btn" id="<%= post._id %>" data-toggles="false">
                    <i class="fa-solid fa-comment"></i>
                </p> 
            </div>
        <%}else{%>
            <p>
                <i class="fa-solid fa-thumbs-up color"></i> <%= post.likes.length%>
            </p>
            <div class="border-lk-cmt">
                <p>
                    <i class="fa-solid fa-thumbs-up"></i> Like
                </p>
                <p class="comment-btn">
                    <i class="fa-solid fa-comment"></i>
                </p>
            </div>
    
        <%}%>
    </div>
    
    

    <div class="post-comments" id="<%= post._id %>">
        <% if(user){ %> 
            <div style="display: flex;">
                <div class="img-container">
                    <% if(user.avatar == undefined){%>
                        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="codeial-default-logo" width="30">
                    <% }else{ %>
                        <img src="<%= user.avatar %>" alt="<%= user.name %>" width="30">
                    <% } %>
                    
                </div>
                <div class="comments-form">
                    <form action="/comments/create" method="POST" id="post-<%= post._id %>-comments-form" class="post_comments">
                        <input type="text" class="inputText" name="content" placeholder="Type here to add comment..." required>
                        <input type="hidden" name="post" value="<%= post._id%>">
                        <input type="submit" value="Comment">
                    </form> 
                </div>
            </div>
        <% } %> 

        <div class="post-comments-list">
            <ul id="post-comments-<%=post._id%>">
                <% for (comment of post.comments){%>
                    
                    <%- include('_comment'); %>

                <% } %>

            </ul>

        </div>
    </div> 
</li>