<li class="post-container" id="post-<%= post._id%>" style="margin: 10px 0px;">
    <div class="dlt-btn-cntnr" style="display: flex; padding: 10px 0px;">
        <% if(post.user.avatar == undefined){%>
            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="codeial-default-logo" width="40">
        <% }else{ %>
            <img src="<%= post.user.avatar%>" alt="<%= post.user.name%>" width="40">
        <% } %>
        
        <p><%= post.user.name%></p>

        <!-- check user exist &&  currently user.id == post.user.id both are same -->
        <% if(user && user.id == post.user.id){ %>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%=post.id%>">X</a>
            </small>
        <% } %>
    </div>
    <p>
        <%= post.content%>
    </p>
    
    <div>
        <% if(user){ %>
            <div class="like-comment-box" id="<%= post._id%>">
                <p>
                    <i class="fa-solid fa-thumbs-up color"></i> <span class="post-like"><%= post.likes.length%> </span>
                </p>
            </div>

            <div class="border-lk-cmt">
                <a class="toggle-like-button" data-likes="<%= post.likes.length%>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                    <p>
                        <i class="fa-solid fa-thumbs-up"></i>
                    </p>
                    <p style="margin-left: 0;">
                        Like
                    </p>
                </a>


                <p class="comment-btn" id="<%= post._id %>" data-toggles="false">
                    <i class="fa-solid fa-comment"></i>
                </p> 
            </div>
        <%}else{%>
            <p>
                <i class="fa-solid fa-thumbs-up color"></i> <%= post.likes.length%>   
            </p>
            <div class="border-lk-cmt">
                <p>
                    <i class="fa-solid fa-thumbs-up"></i> Like
                </p>
                <p class="comment-btn">
                    <i class="fa-solid fa-comment"></i>
                </p>
            </div>
    
        <%}%>
    </div>
    
    

    <div class="post-comments" id="<%= post._id %>">
        <% if(user){ %> 
            <div style="display: flex;">
                <div class="img-container">
                    <% if(user.avatar == undefined){%>
                        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="codeial-default-logo" width="30">
                    <% }else{ %>
                        <img src="<%= user.avatar %>" alt="<%= user.name %>" width="30">
                    <% } %>
                    
                </div>
                <div class="comments-form">
                    <form action="/comments/create" method="POST" id="post-<%= post._id %>-comments-form" class="post_comments">
                        <input type="text" name="content" placeholder="Type here to add comment..." required>
                        <input type="hidden" name="post" value="<%= post._id%>">
                        <input type="submit" value="Comment">
                    </form> 
                </div>
            </div>
        <% } %> 

        <div class="post-comments-list">
            <ul id="post-comments-<%=post._id%>">
                <% for (comment of post.comments){%>
                    
                    <%- include('_comment'); %>

                <% } %>

            </ul>

        </div>
    </div> 
</li>