<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">

<div id="main-container">
    <section id="user-profile">
        <% if(user){ %>
            <div style="display: flex;">
                <img src="<%= user.avatar %>" alt="<%= user.name%>" width="50">
                <p><%= user.name %></p>
            </div>
        <% } %>
    </section>
    

    <section id="feed-posts">

    
        <% if(user){%>
    
            <h4>Posts</h4>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" cols="40" rows="2" placeholder="Text Area..." required></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
    
        <div id="posts-list-controller">
            <ul style="list-style: none; padding-left: 0;">
                <% for (post of posts){%>
                   
                    <%- include('_post'); %>
                   
                <%}%>
            </ul>
        </div>
        
    </section>
    
    <section id="user-friends">
        <h4>Friends</h4>
        <div id="user-friends-container">
            <% for (user of all_users){%>
                <div>
                    <img src="<%= user.avatar %>" alt="user.name" width="50">
                    <a href="/users/profile/<%= user.id%>">
                        <p><%= user.name%></p>
                    </a> 
                </div>
            <% } %>
        </div>
    </section>
    
</div>

<script src="/js/home_like.js"></script>
<script src="/js/home_post_comment.js"></script>
<script src="/js/home_post.js"></script>






